*body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(172, 227, 219);
}

.card{
     
    height:500px;
    width:100vw;
    display: flex;
    justify-content: space-around;
    margin-top:2rem;
     
    .card1{
        border:1.5px solid black;
        height:450px;
        width:27%;
        margin-top: 1rem;
        margin-left: 1rem;
        border-radius: 4px;  
       // background-color: white;          
    }
     .card2{
        border:1.5px solid black;
        height:450px;
        width:27%;
        margin-top: 1rem;
        margin-left: 1rem;
        border-radius: 4px;
         
    }
     .card3{
        border:1.5px solid black;
        height:450px;
        width:27%;
        margin-top: 1rem;
        margin-left: 1rem;
        border-radius: 4px;
         
    }
    img{
        height:275px;
        width:100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        object-fit: cover;
         
    }

    .head{
        text-align:center;
        font-size:1.25rem;
        margin-top: 0.5rem;
        font-weight: 500;
    }

    p{
        text-align: center;
        font-size: 1rem;
        padding:4px;
    }
}