.container{
    height:100%;
    width:100%;
    display:flex;
    justify-content: space-between;
    background-color: yellow;
    .box{
        width:100%;
        height:18rem;
        background-color: red;
        margin:1rem;

    }
    
        @media(max-width:600px){
            flex-direction: column;
            
            .box{
                margin:0.5rem 0;
                background-color: blue;
            }
        }
    
}