body {
    font-family: Arial, sans-serif;
    background-color: #f2f6ff;
     
     
}

h2 {
    text-align: center;
    margin-top: 30px;
}

form {
    width: 500px;
    margin: auto;
    border:2px solid black;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    font-weight: 600;
}

td {
    padding: 10px;
}

input[type="text"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.buttons {
    text-align: center;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: #4a63e7;
    color: white;
    border-radius: 4px;
}

input[type="reset"] {
    background-color: #f44336;
}

input[type="button"] {
    background-color: #009688;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    opacity: 0.85;
}

 

span{
    font-weight: normal;
}
