 .container{
    height:400px;
    width:100vw;
    border:2px solid black;
    background-color: yellow;
    display:flex;
    justify-content: center;
    align-items: center;
 }

 .div1{
    height:300px;
    width:400px;
    border:2px solid red;
    background-color: transparent;
    margin-left:300px;
     
 }

 .div2{
    height:300px;
    width:400px;
    border:2px solid blue;
    background-color: transparent;
    margin-left:-200px;
    margin-top: 200px;
 }


 .box{
    margin-top:100px;
    height:300px;
    width:100vw;
    border:2px solid white;
    background-color: yellow;
    
 }

 .inner-box{
    height:300px;
    width:100vw;
    border:2px solid transparent;
    background-color: transparent;
    margin-top:150px;
    display:flex;
    justify-content: space-around;
 }

 .b{
    height:250px;
    width:350px;
    border:2px solid black;
    background-color: transparent;
     
 }

 @media (max-width:600px){
    .container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .div1{
        margin-left:0px;
        margin-bottom: 20px;
    }
    .div2{
        margin-left:0px;
        margin-top:0px;
    }
 }

@media (max-width: 600px){
    .box{
        width:430px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .inner-box{
        margin-top:300px;
        height:900px;        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .b{
        width:600px;
        background-color: lightgrey;
    }
}



/* body {
    font-family: Arial, sans-serif;
    background-color: #f2f6ff;
     
     
}

h2 {
    text-align: center;
    margin-top: 30px;
}

form {
    width: 500px;
    margin: auto;
    border:2px solid black;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    font-weight: 600;
}

td {
    padding: 10px;
}

input[type="text"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.buttons {
    text-align: center;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: #4a63e7;
    color: white;
    border-radius: 4px;
}

input[type="reset"] {
    background-color: #f44336;
}

input[type="button"] {
    background-color: #009688;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    opacity: 0.85;
}

 

span{
    font-weight: normal;
} */
