*{
    margin:0;
    font-family:sans-serif;
}
.navbar{
    background-color: #313131;
    height:60px;     
    display:flex; 
    justify-content: space-between;  
    position: fixed;  
    top: 0px;
    width:100vw;
}
.logo{
    display: flex;
    height:40px;
    width:400px; 
    padding:1rem 5px 5px 40px;
    p{
        color:white;
        font-size:1.5rem;
        font-weight: bold;
    }
    i{
        font-size: 20px;
        padding:5px;
        color:white;
    }
}
.nav-links{
    ul{
        display:flex;         
        list-style-type: none;
        padding:0;
        margin:0;
        gap:5px;
    }
    li{
        padding:19px;
        border:1px solid #313131;
        i{
            color:#adadad;
        }
    }
    a{
        text-decoration:none;  
        color:#adadad;
        font-weight:550;     
    }
    :hover{
        color:#ff8a65;
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }
}

.hero-section{
    height:400px;
    background-image: url("hero_section.avif");
    background-size: cover;
    margin-top: 60px;
    text-align: center;
    padding-top: 250px;
    color:white;
    

    .text1{
        font-size:3rem;
        padding:1.25rem;
        font-weight:600;
    }

    .text2{
        font-size:1.25rem;
        padding:1.25rem;
        font-weight:550;
    }

    .text3{
        font-size:1.25rem;
        padding:1rem;
        font-weight:550;
    }

    .text{
        font-size:1.5rem;
        height:60px;
        width:214px;
        margin-top:1.5rem;
        font-weight:550;
        background-color: transparent;

    }   
}

.head1{
    text-align: center;
    // margin-top:1rem;
    font-size: 2rem;
    font-weight:550;
    color:#665757;
    background-color: rgb(198, 160, 160);
}
 

.a1{
    width:100%;
    height:1200px;
    display: flex;
    background-color: rgb(147, 223, 223);

    .b1{
         
        width:90%;
        height:900px;
         

        .c1{
            
            width:100%;
            height:400px;
            display: flex;
            justify-content: space-evenly;
            margin-top:100px;

            .d1{
                 
                width:45%;
                height:400px;
                border:1px solid black;

                .img1{
                   width:100%;
                   height:400px;
                   background-image: url("Adventure-Tourism.jpg");
                   background-size:cover;
                }
                 
            }

            .d2{
                 
                width:45%;
                height:400px;
                border:1px solid black;

                .img2{
                   width:100%;
                   height:400px;
                   background-image: url("heritage-image.webp");
                   background-size:cover;
                }
            }
        }

        .c2{
             
            width:100%;
            height:350px;
            display:flex;
            margin-top:150px;
            justify-content: space-evenly;

            .d3{
                 
                width:45%;
                height:350px;
                border:1px solid black;

                .img3{
                   width:100%;
                   height:350px;
                   background-image: url("sports-toursim.jpg");
                   background-size:cover;
                }
            }

            .d4{
                
                width:45%;
                height:350px;
                border:1px solid black;

                .img4{
                   width:100%;
                   height:350px;
                   background-image: url("culinary-toursim.jpg");
                   background-size:cover;
                }
            }
        }


    }
    .b2{
         
        width:20%;
        height:1000px;
    }
}

.T{
    text-align:center;
    font-size: 2rem;
    font-weight: 500;
    color:#665757;
    margin-top:1rem;
    
}

.desc{
    text-align: center;
    font-size:1.25rem;
    font-weight: 400;
    margin-top: 1rem;
}

.b2{
    border:2px solid black;
    margin-top:100px;
    margin-right:1.25rem;
    background-color: rgb(185, 185, 115);
    .category{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color:#665757;
        padding:10px;
    }
    .purpose{
        text-align: center;
        font-size:1.25rem;
        font-weight: 600;
        color:#665757;
        margin-top: 3rem;
    }
    .style{
        text-align: center;        
        font-size:1.25rem;
        font-weight: 600;
        color:#665757;
         margin-top: 3rem;
    }
    .mode{
        text-align: center;
        font-size:1.25rem;
        font-weight: 600;
        color:#665757;
         margin-top: 3rem;
    }

    .list{
      
        margin-top:1.25rem;
        text-align: center;
        font-size:1rem;
        font-weight: 400;
        color:#665757;
         
        padding:0;

    }
    ul{
        list-style-type: none;
        text-align:center;
        font-size: 1.25rem;
        color:#665757;
    }
}
.footer-content{
    height:200px;
    width:100%;
    background-color:#313131;
    margin-top:1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;

    .footer-links{
        a{
            color:white;
        }
    }
}

.footer-bottom{
        color:white;
        font-size:1.25rem;
        font-weight: 400;
        text-align:center;
        background-color: #313131;
}
