*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, Verdana, sans-serif;
     
}

body{
    // background-color: rgb(255, 139, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
}

#grad {
  background-image: linear-gradient(to bottom, red, yellow);
}

.card{
    width:310px;
    height:420px;
    background-color:white;
    padding-top: 0.5rem;
    display:flex;
    flex-wrap: wrap;
    padding-bottom:4rem;
    margin-top:0.5rem;
     

    p{
        font-weight: 650;
        font-size: 1.5rem;
        padding-top:0.5rem;
        padding-left:0.75rem;
    }

    .book1{
        width:133px;
        height:151px;
        padding-left:1rem;
        padding-top:0.5rem;
       
    }



    img{
        width:100px;
        height:100px;
        object-fit: contain;
        padding-left:1rem;
        
    }

    .cover{
        padding-top: 0.5rem;
        display: flex;
        justify-content: space-between;
    }

    .day{
        color:#cc0c39;
        font-weight: bold;
        padding-bottom: 1rem;
        // display:flex;
        // flex-direction: column;
        // justify-content: space-between;
    }

    button{
        background-color: #cc0c39;
        height:24px;
        width:55px;
        color:white;
        border-radius: 4px;
        padding:4px 6px;
        text-align: center;
    }

    span{
        color:#2162A1;
        padding-left:1rem;
        padding-top: 0.5rem;
        font-weight: 500;
    }


}