.container{
    height: 100vh;
    width:100vw;
}
.circle{
    height:300px;
    width:300px;
    /* margin:auto; */
    padding:2rem;
    border:1px solid black;
}

img{
    height:200px;
    width:200px;
    border-radius:50%;
}

p{
    padding-left:50px;
}